*{
    margin:0;
    padding:0;
    font-size:16px;
    font-weight: normal;
    list-style:none;
}
.container{
    max-width:1250px;
    margin:0 auto;
}
.header{
    margin: 13px auto 15px;
       }

.header_link{
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
/* identical to box height, or 100% */
    color: #1C1C1C;
    text-decoration: none;
}

.button{
    width:157px;
    height:40px;
    border-radius:20px;
    border:none;
    background-color: #6F2CFF;
    color:#FFFFFF;
    line-height:14px;
}
.button:hover{
    background-color: lightblue;
    cursor: pointer;
    transition: 1s;
    color:black;
}   
.head_flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .ol_flex{
    display:flex;
    gap:62px;
  }
.main {
    background-color: pink;
    padding: 58px 0px 59px;
}
.main_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}
.main_title-violete {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
    color:#6F2CFF;
}
.main_text {
    height: 120px;
    max-width: 438px;
    font-size:18px;
    line-height:30px;
    margin:18px 0;
}

.main_text-bold{
    font-weight: bold;
}

.main_input{
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius:28px;
    padding-left:26px;
}
.main_input::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
/* identical to box height, or 140% */
    color: rgba(0, 0, 0, 0.27);

}
.main_input:focus{
    outline:none;
}
.main_button {
    height: 45px;
    width: 187px;
    margin-left:9px;
    background: #6F2CFF;
    border-radius: 28px;
}
.grow{
    margin: 100px 100px;
}
.grow_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
/* identical to box height, or 112% */
    color: #1C1C1C;
    max-width: 415px;
}
.grow_flex{
    display: flex;
    gap:34px;
}
.grow_element{
    text-align: center;
    max-width:333px;
}
.grow_item{
    padding:32px 0 85px;
    box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 7px 7px;
}
.grow_pretitle{
    font-weight: 400;
    font-size: 26px;
    line-height: 22px;
    margin-bottom: 27px;
}
.grow_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
     text-align: center;
/* or 122% */
   max-width: 219px;
    color: #6F2CFF;
    margin:0 auto;
}
.footer{
    height: 156px;
    width: 100%;
    background: #20003C;
    margin: 0 auto;
}
.footer_nav{
    height: 21px;
    width: 614px;
    margin:67px;
}
.nav_li{
    Height:21px;
   }
.footer_link{
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
/* identical to box height, or 100% */
    color: #f8f1f1;
    text-decoration: none;
}

.footer_flex{
    display: flex;
    gap: 67px;
  }